.header {
    height: rem(56px);
    //margin-bottom: rem(30px);
    background-color: var(--mantine-color-body);
    border-bottom: rem(4px) solid light-dark(var(--mantine-color-primary-5), var(--mantine-color-secondary-5));
	position: sticky;
	z-index: 99;
	top: 0;
}
  
.inner {
	height: rem(56px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link {
	display: block;
	line-height: 1;
	padding: rem(8px) rem(12px);
	border-radius: var(--mantine-radius-sm);
	text-decoration: none;
	color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;

	@mixin hover {
		background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
	}

	[data-mantine-color-scheme] &[data-active] {
		background-color: var(--mantine-color-primary-5);
		color: var(--mantine-color-secondary-2);
	} 
}

.logo {
	height: rem(44px);
	object-fit: contain;
	margin-top: 10px;
}