
.inner {
    display: flex;
    justify-content: space-between;
    //padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
}

.content {
    max-width: 50%;
    margin-right: 50px;

    @media (max-width: $mantine-breakpoint-md) {
        max-width: 100%;
        margin-right: 10;
    }
}

.imageDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    flex: 1;
    width: 100%;
    max-height: 200px;

    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    };
}